<ion-header>
  <ion-toolbar color="primary">
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title slot="" style="text-align: center; color: aqua;">Login</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div style="display: flex; justify-content: center;">
        <ion-avatar style="height: 6cm; width: 6cm; padding: 0.5cm;">
          <ion-img src="../../assets/logo.jpg"  alt="400px"></ion-img>
        </ion-avatar>
      </div>
        
      <div>  
        <form [formGroup]="formLogin">
          <ion-item>
            <ion-label position="floating">Nombre Usuario</ion-label>
            <ion-input formControlName="nombre"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
          </ion-item>
        </form>
        <br>
        <div style="display: flex; justify-content: center;">
          <ion-button slot="center" color="success" (click)="ingresar()">Ingresar</ion-button>
        </div>
        
      </div>
    </ion-card-content>
  </ion-card>
  
</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/registro']" >Registrarse</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
